.card-head{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url(images/bg_img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* -webkit-clip-path:polygon(0 0, 100% 0, 100% 80%, 0 100%); */
   
    

}
.active{
    color: black;
   
   

}
.active:hover{
    color: white;
    
    border-radius: 5px;
}
.navigation{
    width: 82%;
    height: 60px;
    background-color: rgb(93, 205, 222);
    border-radius: 25px;
    position: fixed;
    top: 0;
    z-index: 1;


}

.navigation a{
    text-decoration: none;
    float: left;
    margin-left: 40px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    position: relative;
    font-weight: bolder;
}

.navigation i{
    float: right;
    margin-right: 40px;
    margin-top: 25px;
    display: none;
   
}


.navigation a:hover{
    color: black;
   
}

.card-head p{
    width: 800px;
    height: 300px;
    font-size: 30px;
    color: #fff;
    top: 230px;
    text-align: center;
    position: relative;
    left: 20%;
    
    
} 
 .Take-tour{
    margin-left: 25%;
    position: absolute;
    margin-top: 70px;
    font-size: 30px;
    
   
    
   
} 

.Take-tour .Tour{
    text-decoration: none;
    color: white;
    border: 2px solid;
    background-color: rgb(116, 192, 213);
    border-radius: 15px;
    top: 60px;
    overflow: hidden;
    
}

.Take-tour .show{
    text-decoration: none;
    margin-left: 30px;

    background-color: transparent;
    color: #75e3e9;
    border-radius: 5px;
    border: 2px solid;
    border-color: transparent;
}

.Take-tour .Tour:hover{
    background-color: transparent;
    border-color: #74b0b9;
    
}

.Take-tour .show:hover{
    background-color: rgb(116, 192, 213);
    border-color: rgb(251, 251, 251);
    color: #fff;
    border-radius: 15px;
}

.section-card{
    background: lightgray;
    width: 100%;
    height: 700px;
    /* -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);  */
    
}
.content-card{
    width: 35%;
    height: 600px;
    border: 2px solid rgb(238, 234, 234);
    margin-left: 5%; 
    margin-top:  35px;
    color: black;
    background: #85a4b2;
    box-shadow: 7px 5px 10px 10px rgba(43, 43, 43, 0.9);
}

.content-card:hover{
    transform: scale(1.1);
    border-radius: 5%;
}

.mid-card{
    width: 100%;
    height: 35px;
    text-align: center;
    background-image: linear-gradient( rgba(184, 26, 199, 0.5),rgba(12, 207, 218, 0.5));
    /* background: #067f91; */
    /* margin-top: 30px; */
}

.mid-card:hover{
    color: #fff;
    background: black;
}


.section-card .pare-card{
    width: 50%;
    height: 40px;
    margin: 20px;
    position: absolute;
    text-align: center;

}

.section-card .contact-card .pare-card p {
    font-size: large;
    
}

/* .section-card .pare-card p{
    font-size: 100px;
} */

.learn-1 a{
    text-decoration: none;
    background: black;
    color: #fff;
    border: 2px solid white;
    border-radius: 15px;
    position: relative;
    margin-left: 10px;
    font-size: 20px;
}

.learn-1 a:hover{
    background-color: #fff;
    color: rgb(112, 169, 187);
    border-color: black;
    transform: scale(1.3);
}

.section-card .img-card .img-1{
    right: 30%;
    top: 900px;
    position: absolute;
    box-shadow: 0px 10px 20px rgba(9, 9, 9, 0.9);
}

.section-card .img-card .img-2{
    right: 15%;
    top: 950px;
    position: absolute;
    box-shadow: 0px 10px 20px rgba(10, 10, 10, 0.9);
}

.section-card .img-card .img-3{
    right: 25%;
    top: 1000px;
    position: absolute;
    box-shadow: 10px 5px 20px rgba(12, 12, 12, 0.9);
}

.section-card .img-card .img-1:hover{
    transform: scale(1.3);
    border-radius: 5%;
}

.section-card .img-card .img-2:hover{
    transform: scale(1.3);
    border-radius: 5%;
}

.section-card .img-card .img-3:hover{
    transform: scale(1.3);
    border-radius: 5%;
}

.count {
    width: 100%;
    height: 85vh;
    display: inline-flex;
    
    background-image: linear-gradient(rgba(0, 255, 195, 0.5),rgba(0,255,0,0.5)),url("images/bg-2_img.jpeg");
}



.count .count-1{
    width: 20%;
    height: 60vh;
    margin: 30px;
    border: 2px solid black;
    background: #fff;
    text-align: center;
    font-size: small;
    box-shadow: 10px 5px 20px rgba(12, 12, 12, 0.9);
}

.count .count-1:hover{
    background-color: #b46baa;
    border-radius: 25px;
    transform: scale(1.1);
}

.count .count-2{
    width: 20%;
    height: 60vh;
    margin: 30px;
    border: 2px solid black;
    background: #fff;
    text-align: center;
    font-size: small;
    box-shadow: 10px 5px 20px rgba(12, 12, 12, 0.9);
    
}

.count .count-2:hover{
    background-color: #ee3a08;
    border-radius: 25px;
    transform: scale(1.1);
}

.count .count-3{
    width: 20%;
    height: 60vh;
    margin: 30px;
    border: 2px solid black;
    background: #fff;
    text-align: center;
    font-size: small;
    box-shadow: 10px 5px 20px rgba(12, 12, 12, 0.9);
}

.count .count-3:hover{
    background-color: #08ee4d;
    border-radius: 25px;
    transform: scale(1.1);
}

.count .count-4{
    width: 20%;
    height: 60vh;
    margin: 30px;
    border: 2px solid black;
    background: #fff;
    text-align: center;
    font-size: small;
    box-shadow: 10px 5px 20px rgba(12, 12, 12, 0.9);
}

.count .count-4:hover{
    background-color: #39c1ef;
    border-radius: 25px;
    transform: scale(1.1);
}

.count .count-1 i:hover{
    color: skyblue;
    transform: scale(1.3);
}

.count .count-2 i:hover{
    color: lightgreen;
    transform: scale(1.3);
}

.count .count-3 i:hover{
    color: yellow;
    transform: scale(1.3);
}

.count .count-4 i:hover{
    color: red;
    transform: scale(1.3);
   
    
}

.contact .contact-card{
    height: 100vh;
    width: 100%;
    background: lightgrey;
    display: inline-flex;
}

.contact .contact-card .login-card{
    width: 30%;
    height: 80vh;
    margin-left: 20%;
    margin-top: 6%;
    background: #fff;
    box-shadow: 0 25px 10px rgba(12, 12, 12, 0.9);
}

.contact .contact-card .login-card:hover{
    transform: scale(1.1);
    border-radius: 20px;
}

.contact .contact-card .signup-card{
    width: 30%;
    height: 80vh;
    margin-right: 5%;
    margin-top: 6%;
    text-align: center;
    color: #fff;
    box-shadow: 0 25px 10px rgba(12, 12, 12, 0.9);
    background: linear-gradient(rgba(213, 54, 155, 0.4),rgba(255, 30, 0, 0.7));
}

.contact .contact-card .signup-card:hover{
    transform: scale(1.1);
    border-radius: 20px;
}

.contact .contact-card .login-card form{
    text-align: center;
}

.contact .contact-card .login-card form input{
    background: lightgray;
    width: 95%;
    height: 45px;
    border-radius: 25px;
    border: lightgrey;
}

.contact .contact-card .login-card form  button{
    width: 40%;
    height: 45px;
    border-radius: 25px;
    border: red;
    background: rgb(253, 5, 5);
    color: #fff;

}

.contact .contact-card .login-card form  button:hover{
    color: red;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    border-color: red;
}

.contact .contact-card .login-card form i{
    width: 50px;
    height: 30px;
    
}

.contact .contact-card .login-card form #fb:hover{
    color: skyblue;
    transform: scale(1.2);
}

.contact .contact-card .login-card form i:hover{
    color: red;
    transform: scale(1.2);
}

.contact .contact-card .signup-card button{
    border: 2px solid #fff;
    background: transparent;
    border-radius: 25px;
    width: 40%;
    height: 45px;
    color: #fff;
}

.contact .contact-card .signup-card button:hover{
    color: red;
    background: #fff;
    border: 2px solid red;
    border-radius: 25px;
}

.foot .footer-card{
    width: 100%;
    height: 40vh;
    /* background-image: linear-gradient(rgba(196, 138, 138, 0.9),rgba(47, 49, 47, 0.9)),url("images/bg-3_img.jpeg"); */
    background-image: linear-gradient(rgba(52, 57, 56, 0.8),rgba(83, 88, 83, 0.7)),url("images/bg-3_img.jpeg");
    color: #fff;
}



.foot .footer-card i{
    width: 25px;
    height: 20px;
   
    text-align: center;
    margin: 10px;
    
    

}
.foot .footer-card i:hover{
    transform: scale(1.5);
}

.foot .footer-card #facebook:hover{
    color: #39c1ef;
    background: #fff;
}

.foot .footer-card #twitter:hover{
    color: #39c1ef;
    background: #fff;
}

.foot .footer-card #instagram:hover{
    color: #ed090d;
    background: #fff;
}

.foot .footer-card #whatsapp:hover{
    color: #0ff308;
    background: #fff;
}

.foot .footer-card #youtube:hover{
    color: #f8120a;
    background: #fff;
}

.foot .footer-card #Email:hover{
    color: #e1dbdb;
    background: #dc0b0b;
}
.foot .footer-card #phone:hover{
    color: #2cd712;
    
}

.foot .footer-card h3{
    text-align: center;
}

.foot .footer-card h3 #heart{
    color: red;
}

/* .foot .footer-card .footer-part{
    width: 50%;
    height: 25vh;
    margin-left: 40%;
    border: 2px solid red; */
    

    
    


@media screen and (max-width: 600px){
    .card-head{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url(images/bg_img.jpeg);
        background-repeat: no-repeat;
        background-size: cover; 
        width: 100%;
        height: 100vh;
       
        /* -webkit-clip-path:polygon(0 0, 100% 0, 100% 80%, 0 100%); */
       
        
    
    }
    .active{
        color: black;
       
       
    
    }
    .active:hover{
        color: white;
        
        border-radius: 5px;
    }
    .navigation{
        width: 100%;
        height: 60px;
        background-color: rgb(93, 205, 222);
        border-radius: 25px;
        position: fixed;
        top: 0;
    
    
    }
    
    .navigation a{
        text-decoration: none;
        float: left;
        margin-left: 40px;
        color: white;
        font-size: 18px;
        margin-top: 20px;
        position: relative;
        font-weight: bolder;
        display: none;
    }
    
    .navigation i{
        float: right;
        margin-right: 40px;
        margin-top: 25px;
        display: block;
        color: #fff;
    
       }
    
    
    .navigation a:hover{
        color: black;
       
    }
    .card-head p{
        width: 280px;
        height: 300px;
        font-size: 20px;
        color: #fff;
        top: 230px;
        text-align: center;
        position: relative;
        left: 25%;
        
        
    } 
     .Take-tour{
        margin-left: 25%;
        position: absolute;
        margin-top: 70px;
        font-size: 20px;
    } 
    
    .Take-tour .Tour{
        text-decoration: none;
        color: white;
        border: 2px solid;
        background-color: rgb(116, 192, 213);
        border-radius: 15px;
        top: 60px;
        overflow: hidden;
        
    }
    
    .Take-tour .show{
        text-decoration: none;
        margin-left: 30px;
    
        background-color: transparent;
        color: #75e3e9;
        border-radius: 5px;
        border: 2px solid;
        border-color: transparent;
    }
    
    .Take-tour .Tour:hover{
        background-color: transparent;
        border-color: #74b0b9;
        
    }
    
    .Take-tour .show:hover{
        background-color: rgb(116, 192, 213);
        border-color: rgb(251, 251, 251);
        color: #fff;
        border-radius: 15px;
    }


    .section-card .img-card .img-1{
        width: 100px;
        height: 80px;
        right: 20%;
        top: 900px;
        position: absolute;
        box-shadow: 0px 10px 20px rgba(9, 9, 9, 0.9);
    }
    
    .section-card .img-card .img-2{
        width: 100px;
        height: 80px;
        right: 5%;
        top: 950px;
        position: absolute;
        box-shadow: 0px 10px 20px rgba(10, 10, 10, 0.9);
    }
    
    .section-card .img-card .img-3{
        width: 100px;
        height: 80px;
        right: 15%;
        top: 1000px;
        position: absolute;
        box-shadow: 10px 5px 20px rgba(12, 12, 12, 0.9);
    }

    .count .count-1{
        font-size: 5px;
    }

    .count .count-2{
        font-size: 4.8px;
    }

    .count .count-3{
        font-size: 4.8px;
    }

    .count .count-4{
        font-size: 4.9px;
    }

    .foot .footer-card h3{
        font-size: small;
    }
    
}

